<div class="row" ng-init="loadDefaultCalendars()">

    <div class="col-lg-6 col-lg-offset-1 col-md-6 text-center">
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="viewDate"
          decrement="calendarView" ng-click="loadEvents()">
          Précédent
        </button>
     
        &nbsp;&nbsp;<label>{{ calendarTitle }}</label>&nbsp;&nbsp;
  
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="viewDate"
          increment="calendarView" ng-click="loadEvents()">
          Suivant
        </button>
    </div>
    
    <br class="visible-xs visible-sm">

    <div class="col-lg-5 cold-md-6 text-right">        
        <div class="btn-group" role="group">             
            <button class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'year'" ng-click="loadEvents()">Année</button>           
            <button class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'month'" ng-click="loadEvents()">Mois</button>          
            <button class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'week'" ng-click="loadEvents()">Semaine</button>
            <button class="btn btn-primary" ng-model="calendarView" uib-btn-radio="'day'">Jour</button>
            <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">&nbsp;<i class="glyphicon glyphicon-cog"></i>&nbsp;</button>
        </div>        
    </div>
    
    <div ng-init="isCollapsed=true" uib-collapse="isCollapsed" class="col-lg-12">
        <div class="well">
            <div ng-repeat="calendar in calendars"> 
                <label><input type="checkbox" ng-model="calendars[$index].selected" ng-change="loadEvents();"> {{calendar.name}}</label>
            </div>
        </div> 
    </div>    
</div>

<br>

<mwl-calendar
    events="events"
    view="calendarView"
    view-title="calendarTitle"
    view-date="viewDate"
    on-event-click="displayEvent(calendarEvent)"
    on-event-times-changed="eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
    on-edit-event-click="eventEdited(calendarEvent)"
    on-delete-event-click="eventDeleted(calendarEvent)"
    cell-is-open="isCellOpen"
    day-view-start="06:00"
    day-view-end="22:00"
    day-view-split="30"
    cell-modifier="modifyCell(calendarCell)">
</mwl-calendar>

<!-- modal window -->   
<script type="text/ng-template" id="modalEvent.html">
    <div class="modal-header">
        <h3 class="modal-title">{{modal.event.title}}</h3>            
    </div>
    <div class="modal-body">         
        {{modal.event.description}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modal.ok()">OK</button><!--
        <button class="btn btn-warning" type="button" ng-click="modal.cancel()">Cancel</button>-->
    </div>
</script>