<div>
    
    <div class="row">
        
        <div class="col-md-7">
            <div class="row">                
                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">Fournisseur de cloud : </span>
                        <select class="form-control" ng-model="cloudExplorer.provider" ng-options="option for option in cloudExplorer.providers" ng-change="cloudExplorer.changeProvider()" style="min-width:150px;"></select>
                    </div>
                </div>
                <div class="col-md-5" style="text-align: right;">
                    <span ng-if="cloudExplorer.selectedFile && !cloudExplorer.selectedFile.isFolder && (cloudExplorer.selectedFile.downloadUrl || cloudExplorer.provider === 'dropbox' )">
                        <button class="btn btn-default btn-primary" ng-click="publishFile()" uib-tooltip="Publiez le fichier">
                            <i class="glyphicon glyphicon-share-alt"></i>
                        </button>&nbsp;
                        <button class="btn btn-default btn-primary" ng-click="downloadFile()" uib-tooltip="Télécharger le fichier">
                            <i class="glyphicon glyphicon-cloud-download"></i>
                        </button>
                        <button ng-click="deleteFile()" class="btn btn-danger" uib-tooltip="Effacer le fichier">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </span>
                    <!-- upload to folder -->
                    <span ng-if="cloudExplorer.selectedFile && cloudExplorer.selectedFile.isFolder" uib-tooltip="Envoyer un fichier dans le cloud">
                        <span class="btn btn-default btn-primary btn-file">
                            <i class="glyphicon glyphicon-cloud-upload"></i><input type="file" id="fileDialog" nv-file-select uploader="cloudUploader"/>
                        </span>                    
                    </span>                    
                </div>
                <div class="col-md-1">
                    <span ng-if="isLoading">
                        <img src="images/loading.gif" width="32" height="32"/>
                    </span>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="chartOptions" chart-legend="true"></canvas> 
            </div>
        </div>

        <div class="col-md-5" style="max-height:300px; overflow-y: auto; ">

            <div ng-if="!dataForTheTree && isLoading">
                Chargement en cours...
            </div>
            
            <treecontrol class="tree-classic"
               tree-model="dataForTheTree"
               options="treeOptions"
               on-selection="showSelected(node, selected)" 
               on-node-toggle="showToggle(node, expanded, $parentNode, $index, $first, $middle, $last, $odd, $even)"
               selected-node="node1">
               {{node.name}}
            </treecontrol>            
        </div>
    </div>

</div>