<div>

    <div class="row">
        <table st-table="socialTokens" class="table table-striped">
            <thead>
                <tr>
                    <th>Provider</th>
                    <th>Statut</th>
                    <th>Nom d'utilisateur</th>
                    <th>Date d'expiration ?</th>
                    <th>Auto refresh</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!--<tr ng-repeat="(provider, token) in socialTokens">-->
                <tr ng-repeat="provider in providers">
                    <td>
                        <a ng-href="{{oauthURLS[provider]}}" target="_blank">
                            <img ng-src="{{'images/'+provider+'.png'}}" width="64" height="64">
                        </a>
                    </td>
                    <td>
                        <i ng-if="socialTokens[provider] && socialTokens[provider].tokens" class="alert-success glyphicon glyphicon-ok-sign"></i></td>
                    <td>
                        <p ng-if="socialTokens[provider]">{{socialTokens[provider].userName}}</p>
                    </td>
                   
                    <td><p ng-if="socialTokens[provider] && socialTokens[provider].tokens && socialTokens[provider].tokens.expiry_date">{{socialTokens[provider].tokens.expiry_date}}</p></td>
                   
                    <td><p ng-if="socialTokens[provider] && socialTokens[provider].tokens && (socialTokens[provider].tokens.refresh_token || !socialTokens[provider].tokens.expiry_date)">true</p></td>
                    
                    <td>
                        <button ng-if="socialTokens[provider] && socialTokens[provider].tokens && socialTokens[provider].tokens.refresh_token" ng-click="refreshToken(provider)" type="button" class="btn btn-sm btn-info" uib-tooltip="refresh token">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </button>
                        <button ng-if="socialTokens[provider] && socialTokens[provider].tokens && !socialTokens[provider].tokens.refresh_token" ng-click="generateToken(provider)" type="button" class="btn btn-sm btn-info" uib-tooltip="regenerate token">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </button>
                        <button ng-if="!socialTokens[provider].tokens" type="button" ng-click="generateToken(provider)" class="btn btn-sm btn-warning" uib-tooltip="generate token">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </button>
                    </td>     
                    <td>
                        <button ng-if="socialTokens[provider] && socialTokens[provider].tokens" type="button" ng-click="deleteToken(provider)" class="btn btn-sm btn-danger" uib-tooltip="revoke token">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </td>              
                </tr>
            </tbody>
        </table>
    </div>

</div>