<div>

    <header class="jumbotron">
        <h2>Réinitialisez votre mot de passe</h2>
    </header>
    
     <form name="resetPassword" id="resetPasswordForm" class="form-signin" ng-submit="form.resetPassword()">
        <fieldset>                                 
            <div class="form-group">
                <input type="text" id="login" class="form-control" placeholder="Email (login)" ng-model="form.login" ng-disabled="true"/>
            </div>
            <div class="form-group">
                <input type="password" id="password" class="form-control" placeholder="Mot de passe" ng-model="form.password"/>
            </div>
             <div class="form-group">
                <input type="password" id="repeatedPassword" class="form-control" placeholder="Répétez vore mot de passe" ng-model="form.repeatedPassword"/>
            </div>

            <!-- captcha pour éviter les bots -->
            <div vc-recaptcha key="'6LdYdAUTAAAAACh8N-aW_9k1dPMg0I-u5uWnULnW'" ></div>

            <button id="login-butt" class="btn btn-primary" type="submit">valider le nouveau mot de passe</button>

        </fieldset>
    </form>
    
</div>