<div>
    <!--st-table="displayedCollection" st-safe-src="events"-->
    <table st-table="displayedCollection"  st-safe-src="events" class="table table-striped">
        <thead>
			<tr>
				<th st-sort="type">event type</th>
				<th st-sort="date">event date</th>
                <th>providers</th>
				<th>parameters</th>
				<th>results</th>
                <th><img src="images/attachment.png" height="24" width="24"></th>
                <th></th>
                <th></th>
			</tr>
			<!--<tr>
				<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
			</tr>-->
		</thead>
		<tbody>
			<tr ng-repeat="event in displayedCollection">
				<td>{{event.type}}</td>
				<td>{{event.date | date:"dd/MM/yyyy 'à' HH'h'mm" }}</td>
                <td>  
                    <button type="button" class="btn btn-sm" uib-tooltip="{{event.providers.toString()}}">
                        <i class="glyphicon glyphicon-th-list"></i>
                    </button>
                </td>
				<td>
                    <p ng-repeat="param in event.params">
                        {{param.name}} : {{param.value}} 
                    </p>           
                </td>
				<td>   
                    <span class="label label-success" ng-repeat="result in event.results">{{result.provider}} : <a href="{{result.url}}" target="_blank" class="success">lien de la vidéo</a></span>
                    <span class="label label-danger" ng-if="event.error">{{event.error}}</span>
                </td>             
                <td>
                    <img src="images/attachment.png" height="24" width="24" uib-tooltip="{{event.attachment.originalFileName}} - {{displayFileSize(event.attachment.size)}}" ng-if="event.attachment">
                </td>

                <td>
                    <button type="button" ng-click="modify(event)" class="btn btn-sm btn-info" uib-tooltip="Modifier l'évènement">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
				</td>
                <td>
                    <button type="button" ng-click="deleteEvent(event)" class="btn btn-sm btn-danger" uib-tooltip="Effacer l'évènement">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
				</td>
			</tr>
        </tbody>
    </table>
    
</div>