<div class="row">
    
     <div class="col-md-5 colg-lg-5">
        <div class="input-group">
            <span class="input-group-addon">Trier par : </span>
            <select class="form-control" ng-model="searchVideoForm.order" ng-options="option for option in searchVideoForm.orders" style="min-width:150px;"></select>
        </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <input type="text" class="form-control" ng-model="searchVideoForm.videoName" placeholder="Vidéo à rechercher" value="Title"/>
    </div>
    <div class="col-md-3 col-lg-3">
        <button id="signInButt" class="btn btn-primary" ng-click="searchVideo()">Rechercher</button>
    </div>
    
</div>

<div class="row" ng-if="searchVideoForm.selected" >
    
    <div class="col-md-9 colg-lg-9">
        <div ts-video-player video-provider="{{searchVideoForm.selected.provider}}" video-id="{{searchVideoForm.selected.video.id}}"></div>
    </div>
    
    <div class="col-md-3 colg-lg-3" style="max-height:530px; overflow-y: auto; "> 
        
        <span ng-if="searchVideoForm.playlist.length===0"> Playlist vide </span>
        <ul ng-if="searchVideoForm.playlist.length>0" dnd-list="searchVideoForm.playlist">
            <li ng-repeat="element in searchVideoForm.playlist"
                dnd-draggable="element"
                dnd-moved="searchVideoForm.playlist.splice($index, 1)"
                dnd-effect-allowed="move"
                dnd-selected="setSelected(element)"               
                ng-class="{selected: getPlaylistIndex(searchVideoForm.selected) === $index}" >
                <h6 style="margin-top:0px;">{{element.video.title}}</h6>
                <img ng-src="{{element.video.thumbnailURL}}" style="max-height:60px; max-width:80px">
                <h6 style="margin-bottom:0px;">{{element.video.channel}}</h6>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    
    <uib-tabset  class="panel panel-default">
        <uib-tab ng-repeat="provider in providers">
            <uib-tab-heading>
                <span>{{provider}}</span>                              
            </uib-tab-heading>
            
            <div class="panel-body">

                 <table st-table="videos[provider]" class="table table-striped">
                    <tbody>
                        <tr ng-repeat="video in videos[provider]" ng-click="addToPlaylist(provider, $index)">
                            <td><img ng-src="{{video.thumbnailURL}}" style="max-height:90px; max-width:120px"></td>
                            <td>
                                <p>{{video.title}}</p>
                                <p>
                                    {{video.counts.view}} vues&nbsp;
                                    <span ng-if="video.counts.like">
                                        {{video.counts.like}} <i class="glyphicon glyphicon-thumbs-up" style="color:green;"></i>&nbsp;
                                        <span ng-if="video.counts.dislike">{{video.counts.dislike}} <i class="glyphicon glyphicon-thumbs-down" style="color:red;"></i></span>
                                    </span>
                                </p>
                                <p>{{video.channel}}</p>
                            </td>            
                            <td>{{video.description}}</td>
                            <td>{{video.creationDate | date:"dd/MM/yyyy'&nbsp;'HH'h'mm" }}</td>
                        </tr>
                    </tbody>
                     <tfoot>
                        <tr>
                            <td colspan="4" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                
            </div>
        </uib-tab>
    </uib-tabset>
    
   
    
</div>