<div class="row">
    
     <div class="col-md-5 colg-lg-5">
        <div class="input-group">
            <span class="input-group-addon">Trier par : </span>
            <select class="form-control" ng-model="searchVideoForm.order" ng-options="option for option in searchVideoForm.orders" style="min-width:150px;"></select>
        </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <input type="text" class="form-control" ng-model="searchVideoForm.videoName" placeholder="Vidéo à rechercher" value="Title"/>
    </div>
    <div class="col-md-3 col-lg-3">
        <button id="signInButt" class="btn btn-primary" ng-click="searchVideo()">Rechercher</button>
    </div>
    
</div>

<div class="row" ng-if="searchVideoForm.selected!==undefined" >
    <div class="col-md-8 colg-lg-8">
        <div ts-video-player video-provider="{{searchVideoForm.playlist[searchVideoForm.selected].provider}}" video-id="{{searchVideoForm.playlist[searchVideoForm.selected].video.id}}"></div>
    </div>
    <div class="col-md-4 colg-lg-4">
        <uib-accordion close-others="false">
            <uib-accordion-group heading="Playlist" is-open="true" is-disabled="false">
                <span ng-if="searchVideoForm.playlist.length===0"> Pas de contenu </span>
                <div ng-repeat="element in searchVideoForm.playlist" ng-class="{selected: $index === searchVideoForm.selected}" ng-click="setSelected($index)">
                    <img ng-src="{{element.video.thumbnailURL}}"><br/>
                    <span>{{element.video.title}}</span>
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </div>
</div>

<div class="row">
    
    <uib-tabset  class="panel panel-default">
        <uib-tab ng-repeat="provider in providers">
            <uib-tab-heading>
                <span>{{provider}}</span>                              
            </uib-tab-heading>
            
            <div class="panel-body">

                 <table st-table="videos[provider]" class="table table-striped">
                    <tbody>
                        <tr ng-repeat="video in videos[provider]" ng-click="addToPlaylist(provider, $index)">
                            <td><img ng-src="{{video.thumbnailURL}}" ></td>
                            <td>
                                <p>{{video.title}}</p>
                                <p>{{video.counts.view}} vues</p>
                                <p ng-if="video.counts.like">
                                    {{video.counts.like}} <i class="glyphicon glyphicon-thumbs-up" style="color:green;"></i>&nbsp;
                                    <span ng-if="video.counts.dislike">{{video.counts.dislike}} <i class="glyphicon glyphicon-thumbs-down" style="color:red;"></i></span>
                                </p>
                            </td>            
                            <td>{{video.description}}</td>
                            <td>{{video.creationDate | date:"dd/MM/yyyy'&nbsp;'HH'h'mm" }}</td>
                        </tr>
                    </tbody>
                     <tfoot>
                        <tr>
                            <td colspan="4" class="text-center">
                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                
            </div>
        </uib-tab>
    </uib-tabset>
    
   
    
</div>