<div>
    <table st-table="displayedCollection"  st-safe-src="events" class="table table-striped">
        <thead>
			<tr>
				<th st-sort="type">event type</th>
				<th st-sort="date">event date</th>
                <th>providers</th>
				<th>results</th>                           
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="event in displayedCollection" ng-click="setSelected(event.id, $index)" ng-class="{selected: event === selectedEvent}">
				<td>{{event.type}}</td>
				<td>{{event.date | date:"dd/MM/yyyy 'à' HH'h'mm" }}</td>
                <td> 
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm" uib-tooltip="{{event.providers.toString()}}">
                            <i class="glyphicon glyphicon-th-list"></i>
                        </button>
                    </div>
                </td>				
				<td>   
                    <span class="label label-success" ng-repeat="result in event.results">
                        {{result.provider}} : <a href="{{result.url}}" target="_blank" class="success">lien {{event.type==='message' ? 'du post' : 'de la vidéo'}}</a>
                    </span>
                    <span class="label label-danger" ng-if="event.error">{{event.error}}</span>
                </td>             
			</tr>
        </tbody>
    </table>
    
    <div class="row" ng-if="selectedEvent && selectedEvent.type === 'uploadVideo' ">
        <div ng-repeat="result in selectedEvent.results">
            <embed-video ng-if="result.url" data-ng-href="{{result.url}}" controls="0"><a href="{{result.url}}" target="new">Voir la vidéo</a></embed-video>
        </div>
    </div>
</div>