<div>
    
    <div class="row">
        
        <div class="col-md-4">
            Provider : <select class="form-control" ng-model="uploadCloud.provider" ng-options="option for option in uploadCloud.providers" ng-change="uploadCloud.changeProvider()"></select> <br/>
        </div>

        <div class="col-md-8">

            Choix du dossier de destination :
            <treecontrol class="tree-classic"
               tree-model="dataForTheTree"
               options="treeOptions"
               on-selection="showSelected(node)" 
               on-node-toggle="showToggle(node, expanded, $parentNode, $index, $first, $middle, $last, $odd, $even)"
               selected-node="node1">
               {{node.name}}
            </treecontrol>

        </div>
    </div>
     
</div>