 <div >

    <div class="row">    
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2">Providers : </div>
                <label ng-repeat="provider in uploadFileData.providers" class="col-md-2">
                  <input type="checkbox" checklist-model="uploadFileData.selectedProviders" checklist-value="provider"> {{provider}}
                </label>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2" ng-repeat="provider in uploadFileData.providers">
                    <div ng-if="uploadFileData.selectedProviders.indexOf(provider)>-1">
                        <ng-include src="'/views/providers/'+provider +'Options.html'"></ng-include>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                    <h4>Titre de la vidéo</h4>
                    <input type="text" ng-model="uploadFileData.title" value="Title"/>
                    &nbsp;&nbsp;
                    <span class="btn btn-default btn-primary btn-file" ng-if="!uploadFileData.cloudFile">
                        Browse video <input type="file" nv-file-select uploader="uploader"/>
                    </span><br/>
                    
                    <h4>Description de la vidéo</h4>
                    <textarea ng-model="uploadFileData.description" style="min-width:530px;min-height:250px;"></textarea>
                    
                    <h4>Tags de la vidéo</h4>
                    <tags-input  ng-model="uploadFileData.tags" add-on-space="true" style="max-width:600px"></tags-input>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <h4><input type="checkbox" ng-model="uploadFileData.isScheduled"> Programmer l'envoi</h4>
                        </div>
                    </div>
                    <div class="row" ng-if="uploadFileData.isScheduled">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">Le </span>
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="uploadFileData.date" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date)" ng-required="true" close-text="Close" style="max-width:200px;"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">à </span>
                                <uib-timepicker ng-model="uploadFileData.date" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>        
        <div ng-if="uploadFileData.isFile && !uploadFileData.cloudFile" class="col-md-5 col-md-offset-7">
            <button class="btn btn-default btn-primary" ng-if="uploadFileData.eventId" ng-click="update(uploader.queue[0])">'Mettre à jour'</button>
            <button class="btn btn-default btn-primary" ng-if="!uploadFileData.eventId" ng-click="validateFieldsAndUpload(uploader.queue[0])">
                {{(uploadFileData.isScheduled ? 'Programmer l\'envoi de la vidéo' : 'Publier la vidéo')}}
            </button>
        </div>        
    </div>
     
    <div class="row">
        <embed-video ng-if="result.url" data-ng-href="{{result.url}}" controls="0"></embed-video>
    </div>

</div>