 <div class="container">
    
     <input type="file" nv-file-select uploader="uploader"/><br/>
     
     <input type="checkbox" ng-model="uploadFileData.isCloud" /> cloud? <br/>

    <div class="row">
        <label ng-repeat="provider in uploadFileData.providers">
          <input type="checkbox" checklist-model="uploadFileData.selectedProviders" checklist-value="provider"> {{provider}}
        </label>
    </div>
    
     <ul>
        <li ng-repeat="item in uploader.queue">
            
            Fichier : <span ng-bind="item.file.name"></span><br/>
            Titre de la vidéo: <input type="text" ng-model="uploadFileData.title" value="Title"/><br/>
            <button ng-click="validateFieldsAndUpload(item)">upload</button>
        </li>
    </ul>
     
    <h4>Description de la vidéo</h4>
    <textarea ng-model="uploadFileData.description"></textarea>

    <h4>Tags de la vidéo</h4>
    <tags-input ng-model="uploadFileData.tags" add-on-space="true"></tags-input>


    <h4>Programmer envoi</h4>
    <div class="row">
        
        <div class="col-md-6 col-xs-12">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="uploadFileData.date" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        
        <div class="col-md-3 col-xs-6">
            <uib-timepicker ng-model="uploadFileData.date" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
        </div>
        
    </div>

</div>