 <div>

    <div class="row">

        <div class="col-md-12">
            <div class="row">
                <!-- left side -->
                <div class="col-md-7">
                    <form class = "form-horizontal" role = "form">
                        <div class="form-group has-error">
                            <label class="col-sm-4 control-label">Titre de la vidéo</label>
                            <div class = "col-sm-4">
                                <!--<input class = "form-control" id = "focusedInput" type = "text" value = "This is focused...">-->
                                <input type="text" class="form-control" ng-model="uploadFileData.title" value="Title"/>
                            </div>
                            <div class = "col-sm-4">
                                <span class="btn btn-default btn-file" ng-if="!uploadFileData.cloudFile" ng-class="{'btn-success' : !uploadFileData.isFile}">
                                    Browse video <input type="file" nv-file-select uploader="uploader"/>
                                </span> 
                            </div>
                        </div>
                        <div class="form-group has-warning">
                            <label class="col-sm-5 control-label" style="text-align:left;">Description</label>
                            <div class = "col-sm-12">
                                <textarea class="form-control" ng-model="uploadFileData.description" style="min-width:530px;min-height:250px;"></textarea>
                            </div>
                        </div>
                        
                        <div class = "form-group">
                            <label class="col-sm-2 control-label" style="padding-top: 9px;">Tags</label>
                            <div class = "col-sm-10">
                                <tags-input ng-model="uploadFileData.tags" add-on-space="true"></tags-input>
                            </div>
                        </div>
                    </form>
                    
                 <!--   <div class="input-group">
                        <span>Description de la vidéo</span> 
                        <textarea class="form-control" ng-model="uploadFileData.description" style="min-width:530px;min-height:250px;"></textarea>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Tags de la vidéo</span>
                        <tags-input ng-model="uploadFileData.tags" add-on-space="true"></tags-input>
                    </div>-->
                </div>
                
                <!-- rigth side, options -->
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <h4><input type="checkbox" ng-model="uploadFileData.isScheduled"> Programmer l'envoi</h4>
                        </div>
                    </div>
                    <div class="row" ng-if="uploadFileData.isScheduled">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">Le </span>
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="uploadFileData.date" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date)" ng-required="true" close-text="Close"/>
                                <span class="input-group-btn">
                                    <button type="button" class="form-control btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-addon">à </span>
                                <uib-timepicker ng-model="uploadFileData.date" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
                            </div>
                        </div>                       
                    </div>
                    
                    <div class="row">
                        <div class="btn-group btn-group-justified">
                            <span>Providers : </span>
                            <div ng-repeat="provider in uploadFileData.providers" >
                                <input type="checkbox" class="input-md" checklist-model="uploadFileData.selectedProviders" checklist-value="provider">
                                <span>{{provider}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <uib-tabset justified="true" class="panel panel-default">
                            <uib-tab disable="true">
                                <uib-tab-heading>Options : </uib-tab-heading>
                            </uib-tab>
                            <uib-tab ng-repeat="provider in uploadFileData.providers" ng-if="uploadFileData.selectedProviders.indexOf(provider)>-1">
                                <uib-tab-heading>
                                    <span>{{provider}}</span>                              
                                </uib-tab-heading>
                                <div class="panel-body">
                                    <div>
                                        <ng-include src="'/views/providers/'+provider +'Options.html'"></ng-include>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>              
                    </div>
                    
                </div>
            </div>
        </div>
        <div ng-if="uploadFileData.isFile && !uploadFileData.cloudFile" class="col-md-5 col-md-offset-7">
            <button class="btn btn-default btn-success" ng-if="uploadFileData.eventId" ng-click="update(uploader.queue[0])">'Mettre à jour'</button>
            <button class="btn btn-default btn-success" ng-if="!uploadFileData.eventId" ng-click="validateFieldsAndUpload(uploader.queue[0])">
                {{(uploadFileData.isScheduled ? 'Programmer l\'envoi de la vidéo' : 'Publier la vidéo')}}
            </button>
        </div>        
    </div>
     
    <div class="row">
        <embed-video ng-if="result.url" data-ng-href="{{result.url}}" controls="0"></embed-video>
    </div>

</div>