<div>
    
    <div class="row">        
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">Fournisseur de media : </span>
                <select class="form-control" ng-model="media.provider" ng-options="option for option in media.providers" ng-change="media.changeProvider()"></select>
            </div>
        </div>
        <div class="col-md-6">            
            <div ng-if="!isLoading && stats">
                <span ng-repeat="stat in stats">
                    <span class="label label-primary">
                        {{stat.name}} : {{stat.value}}
                    </span>&nbsp;
                </span>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>    
    <div class="row">
        <div ng-if="isLoading" class="col-md-12" style="text-align:center;">
            <img src="images/loading.gif" width="64" height="64"/> Chargement en cours...
        </div>
        <table ng-if="!isLoading && displayedCollection.length>0" st-table="displayedCollection" st-safe-src="media.list" class="table table-striped">
            <thead>
                <tr>
                    <th st-sort="title">video title</th>
                    <th st-sort="creationDate">creation date</th>               
                    <th>description</th>
                    <th></th>
                    <th></th>
                    <th></th>                
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="video in displayedCollection">
                    <td>{{video.title}}</td>
                    <td>{{video.creationDate | date:"dd/MM/yyyy HH'h'mm" }}</td>
                    <td>{{video.description}}</td>
                    <td>
                       <a ng-href="{{media.getURL(video.id)}}" target="_blank"><img ng-src="{{video.thumbnailURL}}" height="60"/></a>
                    </td>
                    <td>
                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-info" uib-dropdown-toggle>
                                <span class="caret"></span>
                                <span class="sr-only"></span>
                            </button>
                            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="split-button">
                                <!-- TODO use modal to edit metadata -->
                                <li role="menuitem">
                                    <a href="" ng-click="modifyVideo(video)">Editer</a>                          
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" ng-click="deleteVideo(video)" class="btn btn-sm btn-danger" uib-tooltip="Effacer la vidéo">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>