<div ng-controller="DailymotionOptionsController">
    <div class="input-group">
        <div class="input-group-addon checkbox">
            <label style="min-height:0px;">
                <input type="checkbox" ng-model="$root.selectedProvidersOptions.dailymotion.private"> Vidéo privée ?
            </label>
        </div>
        <span class="input-group-addon">Chaine : </span>
        <select class="form-control" ng-model="$root.selectedProvidersOptions.dailymotion.channel" ng-options="option.name for option in $root.providersOptions.dailymotion.channels">  </select>
    </div>
</div>