<div ng-controller="FacebookOptionsController">
    Visibilité :
    <select class="form-control" ng-model="$root.selectedProvidersOptions.facebook.visibility" ng-options="option for option in $root.providersOptions.facebook.visibilities"></select><br/>
    Groupe ? 
    <select class="form-control" ng-model="$root.selectedProvidersOptions.facebook.group" ng-options="option.name for option in $root.providersOptions.facebook.groups">
        <option value="">Aucun</option>
    </select><br/>
    Page ? 
    <select class="form-control" ng-model="$root.selectedProvidersOptions.facebook.page" ng-options="option.name for option in $root.providersOptions.facebook.pages">
        <option value="">Aucune</option>
    </select><br/>
    
</div>