<div ng-controller="GoogleOptionsController">
    <div class="input-group">
        <span class="input-group-addon">Visibilité : </span>
        <select class="form-control" ng-model="$root.selectedProvidersOptions.google.privacyStatus" ng-options="option for option in $root.providersOptions.google.privacyStatuses"></select>
    </div>
    <div class="input-group">
        <span class="input-group-addon">Categorie :</span>
        <select class="form-control" ng-model="$root.selectedProvidersOptions.google.category" ng-options="option.name for option in $root.providersOptions.google.categories"></select>
    </div>
</div>